.leaderboard-flexbox {
    border: solid 10px #6983aa;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10%;
}

.row, .header {
    width: 100%;
    display: flex;
}

.header {
    background-color: #6983aa;
    color: white;
    font-weight: bold;
}

.centered {
    text-align: center;
}

.column {
    display: inline-block;
}

._20 {
    flex: 0.2;
}

._40 {
    flex: 0.4;
}

.row {
    background-color: rgba(255, 255, 255, 0.7);
}

.row:nth-child(2n+1) {
    background-color: rgba(	142, 198, 197, 0.7);
}
