.qcard {
    border: 10px solid #6983aa;
    margin: 0 auto;
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;

}

.qcard h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
}

form, input, label, .option {
    display: inline-block;
}

/* Style for radio buttons */

input[type="radio"]{
    display: none;
}

.btnStyle{
    margin: 3px;
    padding: 3px 6px 3px 6px;
    font-size: 20px;
    position: relative;
    background-color: rgba(244,244,244, 0.2);
    color: #3d5270;
    border: 3px solid #6983aa;
    border-radius: 10px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
}
.btnStyle:hover{
    color: white;
    border: 2px solid white;
    background-color: rgb(142,198,197);
    transition-duration: 0.3s;
}
.btnStyle:before {
    content: "";
    height: 13px;
    width: 13px;
    border: 4px solid #6983aa;
    border-radius: 50%;
    margin-right: 7px;  
}
input[type="radio"]:checked + label{
    background-color: #6983aa;
    color: white;
}
input[type="radio"]:checked + label:before{
    height: 13px;
    width: 13px;
    border: 3px solid white;
    background-color: #6983aa  
}
input[type="radio"]:checked + label:hover{
    border: 3px solid white;
}

.qcard-button {
    font-size: 17px;
    color: white;
    border: 2px solid white;
    background-color: rgba(142,198,197, 1);
    border-radius: 5px;
    margin-bottom: 2%;
}

.qcard-button:active, 
 qcard-button:active,
.qcard-button:focus, 
 qcard-button:focus,
.qcard-button:hover, 
 qcard-button:hover{
    border: 2px solid white !important;
    outline:none !important;
}
.qcard-button:hover{
    background-color: rgba(133,102,170, 1);
    transition-duration: 0.3s;
}


/* .qcard-button {
    position: absolute;
    right: 10%;
    bottom: 25%;
} */