.quiz-body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

.welcome-text {
    color: white;
    position: relative;
}

#greeting {
    text-align: center;
    color: white;
}

.timerBox{
    position: fixed;
    left: 80px;
    top: 80px;
    width: 100%;
}

#timer {
    text-align: center;
    color: rgb(111, 12, 233);
    display: inline-block;
    width: 10%;
    padding: 4px;
    border: 3px solid #6983aa;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.7);
}
